<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1 v-custom-on:mouseenter="say">Hover over me !</h1>
                <button v-custom-on:click="say">Click me !</button>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
            </div>
        </div>
    </div>
</template>

<script>
export default {
  directives: {
    "custom-on": {
      bind(el, binding) {
        el.addEventListener(binding.arg, event => {
          binding.value();
        });
      }
    }
  },
  methods: {
    say() {
      alert("You've interacted with me !");
    }
  }
};
</script>

<style>
</style>
